 /* --------- GLOBAL ---------- */
 html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --main-color: #1d5297;
    background: linear-gradient(0deg, #020917, var(--main-color));
}

body.loading {
    --main-color: #521d97;
}

/* --------- SEARCH BAR ---------- */

.searchbar {
    margin-bottom: 4em;
    z-index: 3;
}

.search-container {
    position: relative;
}

#searchForm {
    position: relative;
    display: flex;
    align-items: center;
}

.searchbar #search {
    font-size: 2em;
    padding: 0.3em;
    border-radius: 0.1em;
    transition: 0.3s ease-out;
    outline: none;
    border: none;
    z-index: 2;
    opacity: 0.2;
}

.searchbar #search:focus {
    transform: scale(1.1);
    opacity: 1;
}

.loading #search {
    background: none;
    color: white;
}

#search-icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    aspect-ratio: 1;
    background-image: url("images/search-duckduckgo.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-100%) scale(0.5);
    transition: 0.25s ease-in-out;
    z-index: 1;
    opacity: 0.2;
}

#search-icon.focus {
    transform: translateX(75%) scale(1);
    opacity: 1;
}

.loading #search-icon {
    transform: translateX(120%) scale(.9);
}

.loading #search-icon:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: -0.1em;
    left: -0.1em;
    height: 3em;
    width: 3em;
    border: 0.15em solid #fffa;
    border-right-color: rgba(255, 255, 255, 0.667);
    border-radius: 100%;
    border-right-color: transparent;
    animation: spinning 1s ease-out infinite;
}

.loading #search-icon::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 3em;
    width: 3em;
    outline: 0.15em outset #fff3;
    outline-offset: 0.3em;
    border-radius: 100%;
    animation: spinning 1.5s ease-in infinite;
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }
    50% {
        outline-color: #fff0;
    }
    to {
        transform: rotate(360deg);
    }
}

/* --------- SHORTCUT ---------- */

nav {
    padding: 2em;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 8em;
}

.loading nav {
    opacity: 0;
    transform: scale(0.3);
    transition: 0.3s ease-in-out;
    height: 0;
    overflow: hidden;
}

nav a.link-card {
    height: 8em;
    width: 12em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.47) 0px 7px 29px 0px;
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
    margin-right: 1em;
    position: relative;
    color: white;
    transition: 0.3s ease-out;
    overflow: hidden;
    z-index: 0;

    opacity: 0;
    transform: translateX(-4em) translateY(4em) scale(0.6);
}

nav a.link-card.open {
    opacity: 0.9;
    transform: translateY(0) scale(1);
}

nav a.link-card:focus, nav a.link-card:hover {
    transition: 0.3s ease-out;
    outline: none;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    /*box-shadow: rgba(6, 6, 7, 0.6) 0px 7px 29px 0px;*/

    opacity: 1;
    transform: translateY(0) scale(1.2);
}

nav a.link-card img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: contain;
}
nav a.link-card span{
    position: absolute;
    height: 30%;
    width: 100%;
    justify-content: end;
    display: flex;
    align-items: center;
    bottom: -1px;
    right: 0;
    text-align: end;
    padding-right: 0.8em;
    transform: translateY(100%);
    background: linear-gradient(0deg, #111, #1110);
    transition: 0.3s ease-out;
}

nav a.link-card:focus span, nav a.link-card:hover span {
    transform: translateY(0);
}

/* ------ DATALIST ------- */

datalist {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 100%;
    padding-top: 0.2em;
    transform: scale(1.1);
    border-radius: 0.1em;
    max-height: 10em;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

datalist.open {
    display: block;
}

datalist option {
    padding: 0.4em 0.5em;
    position: relative;
    border-bottom: 1px dotted #3332;
}

datalist option img {
    display: inline-block;
    margin-left: 0.5em;
    height: 1em;
}

datalist option:focus, datalist option:hover, datalist option.active {
    color: white;
    background-color: var(--main-color);
}